*{
    box-sizing: border-box;
}

.about {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-items: stretch; */
    /* justify-content: center; */
    width: 100%;
    overflow: hidden;
    background-color: #f45b69;
    
}

.child{
    /* width: 40%; */
    /* padding-left: 2%;
    padding-right: 2%;
    padding-top:2%;  */
    padding: 2%;
}


#bilde{
    /* flex-grow: 0.5; */
    /* flex-basis: 30%; */
    height: 100%;
    width: 30vw;
}

#simen{
    height: 100%;
    /* background-color: #f45b69; */
    
}

#håvard{
    height: 100%;
    /* background-color: #456990;  */
}

.about_text{
    text-align: left;
    font-size: 1.5vw;
}

.about_name{
    text-align: left;
    font-size: 2vw; 
}