* {
    box-sizing: border-box;
  }

  @font-face {
    font-family: myFirstFont;
    src: url(static/Fonts/Gravity/Gravity-Regular.otf);
  }

  @keyframes fade {
      from {opacity:0}
      to {opacity: 1;}
  }



#welcome_grid {
    display: grid;
    height: 100%;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    align-items: center;
}
#welcome_container{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2; 
    /* background-color: blueviolet; */
    align-items: center;
    
}

#text_over{
   position: relative;
   /* background-color: red; */
   /* display: flex; */
   text-align-last:center;   
}

#welcome{
    position: relative;
    /* background-color: blue; */
    overflow: hidden;
    padding: 0;
    text-align:center;
}

#text_under{
    position: relative;
    /* background-color: green; */
    overflow: hidden;   
    text-align:center; 
}

.welcome_links{
    align-content: center;
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
     /* overflow: hidden; */
    
}

p{
    display: inline-block;
    /* flex: 0.5; */
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    animation-name: fade;
    animation-duration: 12s;
    
    
}

#w{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: myFirstFont;
    font-size: 7.5vw;
    text-align: center;
    margin-top: 0 ;
    margin-bottom: 0;
    /* margin-left: 2.5%;
    margin-right: 2.5%; */
    animation-name: fade;
    animation-duration: 10s;
    letter-spacing: 5px;
}


