* {
    box-sizing: border-box;
  }

  @font-face {
    font-family: myFirstFont;
    src: url(static/Fonts/Gravity/Gravity-Regular.otf);
  }

  @keyframes fade {
      from {opacity:0}
      to {opacity: 1;}
  }



#welcome_grid {
    display: grid;
    height: 100%;
    align-items: center;
}
#welcome_container{
    align-items: center;
    
}

#text_over{
   position: relative;
   text-align-last:center;   
}

#welcome{
    position: relative;
    overflow: hidden;
    padding: 0;
    text-align:center;
}

#text_under{
    position: relative;
    overflow: hidden;   
    text-align:center; 
}

.welcome_links{
    align-content: center;
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
    
}

p{
    display: inline-block;
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-family: suruma, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1vw;
    /* font-family: Arial, Helvetica, sans-serif; */ 
    animation-name: fade;
    animation-duration: 2s;
    
    
}

#w{
    font-family: suruma, sans-serif;
    font-weight: 500;
    font-style: normal;
    /* font-family: myFirstFont; */
    font-size: 7.5vw;
    text-align: center;
    margin-top: 0 ;
    margin-bottom: 0;
    animation-name: fade;
    animation-duration: 2s;
    letter-spacing: 5px;
}


