* {
    box-sizing: border-box;
  }

  @font-face {
    font-family: myFirstFont;
    src: url(static/Fonts/Gravity/Gravity-Regular.otf);
  }

  @keyframes fade {
      from {opacity:0}
      to {opacity: 1;}
  }



#welcome_container{
    /* background-color: blueviolet; */
    display: block;
    position: relative;
    width: 100%;
}

#text_over{
    position: relative;
   /* background-color: red; */
   overflow: hidden;
   /* display: flex; */
   text-align-last:center;   
   margin-bottom: -1.5rem;
}

#welcome{
    position: relative;
    /* background-color: blue; */
    overflow: hidden;
    text-align-last:center;
}

#text_under{
    position: relative;
    /* background-color: green; */
    overflow: hidden;   
    text-align-last:center; 
   margin-top: -1.5rem;
}

.welcome_links{
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
     /* overflow: hidden; */
    
}

p{
    /* display: inline-block; */
    /* flex: 0.5; */
    display: inline-flex;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    animation-name: fade;
    animation-duration: 12s;
    
    
}

#w{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: myFirstFont;
    font-size: 7.5vw;
    text-align: center;
    margin-top: 0 ;
    margin-bottom: 0;
    /* margin-left: 2.5%;
    margin-right: 2.5%; */
    animation-name: fade;
    animation-duration: 10s;
    letter-spacing: 5px;
}


