{% include 'partials/header.html' %}

<div class="container-fluid h-100">

    <div class="row h-100 bg-danger">
        <div class="col h-100 ">
           <p class="font-weight-normal text-xl-center">Welcome</p>
        </div>
    </div>
        
    <div class="row h-100 bg-warning">
        <div class="col h-100">
            <p class="font-weight-normal text-xl-center">Projects</p>
        </div>
    </div>

    <div class="row h-100 bg-info">
            <div class="col h-100">
                <p class="font-weight-normal text-xl-center">About us</p>
            </div>
        </div>
</div>
