{% include 'partials/header.html' %}

<div class="container-fluid h-100 bg-dark">

    <div class="row h-100 bg-danger">
        <div class="col">
           Welcome
        </div>
    </div>

    <div class="row h-100 bg-info">
        <div class="col">
            About us
            dfds
            sfd
            sfdsdf
            sdf
            <br>
        </div>
    </div>
        
    <div class="row h-100 bg-warning">
        <div class="col">
            Projects
        </div>
    </div>

</div>
