{% load static %}
{% include 'partials/header.html' %}

<div class="container-fluid">

    <div class="row h-100 align-self-center">
        <div class="col h-100 ">
           <h1 id="w" class="font-weight-normal text-xl-center display-1 align-middle">Welcome</h1>
        </div>
    </div>
        
    <div class="row h-100 border-top">
        {% include 'portfolio/projects.html' %}
    </div>

    <div class="row h-50 overflow-auto border-top">
            <div class="col-sm ">
                <h2>Simen Berg-Hansen</h2>
                <h4>Cicero famously orated against his political opponent Lucius Sergius Catilina. Occasionally the first Oration against Catiline is taken for type specimens: Quo usque tandem abutere, Catilina, patientia nostra? Quam diu etiam furor iste tuus nos eludet? (How long, O Catiline, will you abuse our patience? And for how long will that madness of yours mock us?)</h4>
            </div>
            <div class="col-sm ">
                <img class="img-fluid" src="static/images/sh.jpg" alt="">
            </div>
            <div class="col-sm">
                <h2 class="text-l"> Håvard Skåra Mellbye</h2>
                <h4>Cicero famously orated against his political opponent Lucius Sergius Catilina. Occasionally the first Oration against Catiline is taken for type specimens: Quo usque tandem abutere, Catilina, patientia nostra? Quam diu etiam furor iste tuus nos eludet? (How long, O Catiline, will you abuse our patience? And for how long will that madness of yours mock us?)</h4>
               
            </div>
    </div>
    <div class="row bg-dark ">
        <div class="col h-100">
            {% include 'partials/footer.html' %}
        </div>
    </div>
    
</div>




