{% include 'partials/header.html' %}


<div class="container-fluid">

    <!-- Welcome row -->
    <div class="row h-100 align-self-center">
        <div class="col h-100 ">
           <h1 id="welcome" class="font-weight-normal text-xl-center display-1 align-middle">Pictures will come soon</h1>
        </div>
    </div>
        
    <!-- Footer -->
    <div class="row bg-dark ">
        <div class="col h-100">
            {% include 'partials/footer.html' %}
        </div>
    </div>
    
</div>


