{% load static %}

<div class="container-fluid h-100">
    <div class="row h-50 overflow-hidden">

        <div class="col" id="pr">
             <img src="static/images/hasc.jpg" class="img-fluid" alt="smaple image">
        </div>
        
        <div class="col">
            <img src="static/images/robo1.jpeg" class="img-fluid" alt="smaple image">     
        </div>

        <div class="col">
            <img src="static/images/hasc.jpg" class="img-fluid" alt="smaple image">
        </div>
     </div>

    <div class="row h-50">
        <div class="col"><img src="static/images/robo1.jpeg" class="img-fluid" alt="smaple image"></div>
        <div class="col" ><img src="static/images/hasc.jpg" class="img-fluid" alt="smaple image"></div>
        <div class="col"><img src="static/images/robo1.jpeg" class="img-fluid" alt="smaple image"></div>
    </div>

</div>
