<div class="container-fluid">
    <!-- Første raden med prosjekter -->
    <div class="row h-50 bg-warning">

        <!-- Kolonne 1 -->
        <div class="col">

                <div class="card">
                        <img class="card-img-top" src="static/images/robo1.jpeg" alt="Card image">
                        <div class="card-img-overlay">
                          <h4 class="card-title">Prosjekt</h4>
                          <p class="card-text">Robotprosjektet vårt</p>
                          <a href="#" class="btn btn-primary">Les mer</a>
                    </div>
                </div>

        </div>

        <!-- Kolonne 2 -->
        <div class="col">
                <div class="card">
                        <img class="card-img-top" src="static/images/robo1.jpeg" alt="Card image">
                        <div class="card-img-overlay">
                          <h4 class="card-title">Prosjekt</h4>
                          <p class="card-text">Robotprosjektet vårt</p>
                          <a href="#" class="btn btn-primary">Les mer</a>
                    </div>
                </div>        </div>

        <!-- Kolonne 3 -->
        <div class="col">
                <div class="card">
                        <img class="card-img-top" src="static/images/robo1.jpeg" alt="Card image">
                        <div class="card-img-overlay">
                          <h4 class="card-title">Prosjekt</h4>
                          <p class="card-text">Robotprosjektet vårt</p>
                          <a href="#" class="btn btn-primary">Les mer</a>
                    </div>
                </div>        </div>
     </div>
     <!-- Andre raden med prosjekter -->
     <div class="row h-50 bg-danger">

        
            <div class="col">

                    <div class="card">
                            <img class="card-img-top" src="static/images/robo1.jpeg" alt="Card image">
                            <div class="card-img-overlay">
                              <h4 class="card-title">Prosjekt</h4>
                              <p class="card-text">Robotprosjektet vårt</p>
                              <a href="#" class="btn btn-primary">Les mer</a>
                        </div>
                    </div>

            </div>

            <div class="col">
                    <div class="card">
                            <img class="card-img-top" src="static/images/robo1.jpeg" alt="Card image">
                            <div class="card-img-overlay">
                              <h4 class="card-title">Prosjekt</h4>
                              <p class="card-text">Robotprosjektet vårt</p>
                              <a href="#" class="btn btn-primary">Les mer</a>
                        </div>
                    </div>        </div>

            <div class="col">
                    <div class="card">
                            <img class="card-img-top" src="static/images/robo1.jpeg" alt="Card image">
                            <div class="card-img-overlay">
                              <h4 class="card-title">Prosjekt</h4>
                              <p class="card-text">Robotprosjektet vårt</p>
                              <a href="#" class="btn btn-primary">Les mer</a>
                        </div>
                    </div>        </div>
         </div>

</div>
