#w{
    padding: 2%;
    max-width: 250px;
    /* Dersom displayet er mindre enn 250px er det ikke no problem */
    text-align: center;
    background-color: black;
    color: lightblue;
    position: fixed;
    top: 50%;
    right: 50%;

}

h2{
    position: fixed; 
    top: 20px;
}