<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block css %}
    <link href='https://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css'>
    <link href="static/common.css" rel="stylesheet" type="text/css">
    {% endblock css %}
</head>
<body>
    <div id="navbar" style="position: fixed;">
    {% include "navbar.html" %}
    </div>
    {% block content %}
    {% endblock content %}
    {% include "footer.html" %}
</body>
<script src="static/base.js"></script>
</html>
