<div class="navbar">
    <style scoped>
        .navbar {
            background-color: wheat;
            position: absolute;
            width: auto;
            height: 3rem;
            padding: 0 0 0 0;
            opacity: 70%;
        }
    </style>
    <nav class=navbar-item>
        <style scoped>
            .navbar-item li {
                display: table-cell;
                text-align: center;
            }
            .navbar-item ul {
                width: 100%;
                vertical-align: middle;
                white-space: nowrap;
                display: table;
                table-layout:fixed;
            }
        </style>
        <ul>
            {% for li in menu_items %}
            {% if li == current_menu %}
            {% set item_class = "selected_menu_item" %}
            {% else %}
            {% set item_class = "menu_item" %}
            {% endif %}
            <li class="{{item_class}}"><a style="text-decoration: none; color: inherit;" href="/{{li}}">{{li}}</a></li>
            {% endfor %}
       </ul> 
    </nav>
</div>
