<div class="navbar">
    <style scoped>
        .navbar {
            display:block;
            align-content: center;
            position: fixed;
            width: 100%;
            height: 3rem;
            padding: 0 0 0 0;
            opacity: 70%;
        }
    </style>
    <nav class=navbar-item>
        <style scoped>
            .navbar-item {
                height: 100%;
                vertical-align: middle;
                width: fit-content;
                margin: 0 auto;
            }
            .navbar-item li {
                text-align: center;
                vertical-align: middle;
                width: fit-content;
                display: inline-block;
                margin: 1rem 1.4rem;
                font-size: 1vw;
            }
            .navbar-item ul {
                vertical-align: middle;
                align-content: center;
                display: inline-block;
                width: fit-content;
                margin-top: auto;
                padding: 0;
            }
        </style>
        <ul>
            {% for li in menu_items %}
            {% if li.upper() == current_menu.upper() %}
            {% set item_class = "selected_menu_item" %}
            {% else %}
            {% set item_class = "menu_item" %}
            {% endif %}
            <li class="{{item_class}}"><a style="text-decoration: none; color: inherit;" href="/{{li}}">{{li}}</a></li>
            {% endfor %}
       </ul> 
    </nav>
</div>
