<div class="about">
        <div class="child" id="simen">
                <h3 class="about_name">Simen Berg-Hansen</h3>
                 <p class="about_text">Skiløypene våre fylles med hundedritt. De fleste hundeeiere er ansvarlige og fornuftige mennesker som følger reglene, mens noen rett og slett ikke bryr seg. Resultatet er at når snøen smelter, ligger det plastfiller og hundemøkk igjen i løypetraseene. På dyrket mark kommer dette i dyrefôret, noe som er svært uheldig. Husdyr kan faktisk krepere av plastrester i fôret. </p>
                </div>
          
   
          
               <div class="child" id="bilde_div">
                   <img id="bilde" src="static/felles.jpg" alt="Håvard">
               </div>
   
   
               <div class="child" id="håvard"> 
                    <h3 class="about_name">Håvard Mellbye</h3>
                    <p class="about_text">Den gangen påbudet om å ta med seg hundebæsjen kom, var det først og fremst et hygienisk tiltak. Avføring fra dyr og mennesker inneholder bakterier som kan forårsake sjukdommer, noe som er spesielt alvorlig for mennesker. Leikeplasser og sandkasser burde derfor være forbudte områder for hunder – og andre kjæledyr. De fleste skjønner det, bortsett fra eierne av dyra. </p>
                </div>   
       
            </div>