{% extends "base_layout.html" %}
{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="static/welcome.css">
<link rel="stylesheet" type="text/css" href="static/frontpage.css">
<link rel="stylesheet" type="text/css" href="static/aboutus.css">
<link rel="stylesheet" href="https://use.typekit.net/llx0vke.css">
{% endblock css %}

{% block content %}
<div class="row align-content-center" id="welcome">
    <div class="col-md-12">
    {% include "frontpage/welcome.html" %}
    </div> 
</div>
<div class="row" id="aboutus">
    <div class="col-md-12 align-items-center">
    {% include "frontpage/aboutus.html" %}
    </div> 
</div>
<div class="row" id="projects">
    <div class="col-md-12 align-items-center">
    {% include "frontpage/projects.html" %}
    </div> 
</div>
</div>
{% endblock content %}


