<div id="welcome_grid">
<div id="welcome_container">

            <div class="welcome_links" id="text_over"> 
                <p>Simen</p> 
                <p>Håvard</p> 
                <p>Kristine</p> 
            </div> 
            
            <div  class="welcome_links" id="welcome" >
                    <h1 id="w">Welcome</h1>
            </div>  
            
            <div class="welcome_links" id="text_under">
                <p>All projects</p>
                <p>About us</p>
                <p>Photos</p>
            </div>
</div>
</div>
