<div id="welcome_grid">
<div class="fadein" id="welcome_container">
            <div class="welcome_links" id="text_over"> 
                <p>Simen</p> 
                <p>Håvard</p> 
                <p>Kristine</p> 
            </div> 
            
            <div  class="welcome_links" id="welcome" >
                    <h1 id="w">Welcome</h1>
            </div>
            <div id=welcome_navbar style="margin-top: -1rem;">
                {% include "navbar.html" %}
            </div>
</div>
</div>
