<div style="height: 100%; vertical-align: middle;">
<div id="welcome_container">

            <div class="welcome_links" id="text_over"> 
                <p>Simen</p> 
                <p>Håvard</p> 
                <p>Kristine</p> 
                
            </div> 
            
            <div  class="welcome_links" id="welcome" >
                    <h1 id="w">Welcome</h1>
            </div>  
            
            <div class="welcome_links" id="text_under">
                <p>All projects</p>
                <p>About us</p>
                <p>Photos</p>
            </div>
</div>
</div>
    
<!-- Hvorfor endres bakgrunnsfargen når jeg endrer id fra welcome til middle?  -->

<!-- Kan bytte ut - text-align-last:center; - fra css til divene med - 
<div align = "center" class="welcome_links" id="text_over"> - direkte her i html koden  -->
